<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administ</title>
</head>

<body style="background-color: rgb(29, 29, 29); color: white;">
    <div>
        <h1>Welcome to Administ</h1>
        <p>Localhost version</p>
    </div>

    <div style="background-color: rgb(62, 62, 62); border-radius: 5px;">
        <h2>Pages:</h2>
        <a href="/MyDashBoard" style="color: rgb(190, 239, 255); text-decoration: underline;"><h2>Go to Dashboard</h2></a>
        <a href="/" style="color: rgb(190, 239, 255); text-decoration: underline;"><h2>Reload This Page</h2></a>
    </div>

    <div>
        <img src="images/Administ_Logo.svg" alt="Administ_Logo" style="width: 130px; height: auto;">
    </div>
</body>

</html>